*

!adapters/
!i18n/
!public/
!src/

!.eslintignore
!.eslintrc.cjs
!.prettierrc.json
!.yarnrc.yml
!codegen.ts
!package.json
!postcss.config.cjs
!tailwind.config.ts
!tsconfig.json
!vite.config.ts
!yarn.lock
